.container{
  height: 100vh;
  margin-left: 10px;
  
}
.menu{
  margin-right: 10px;
  position: absolute;
  z-index: 20;
  margin-left: 20px;

}
.buttons{
  margin: 10px;
  margin-top: 20px;
  border-radius: 30px;
  background-color: #2d7b2f;
  color:rgb(212, 212, 212);
}

.marker{
  margin-top: -30px;
  font-weight: bold;  
  
}

